@keyframes spin {

	from {

		transform: rotateY(0deg);

	}

	to {

		transform: rotateY(360deg);

	}

}

div.header-name:hover {

	animation-name: spin;

	animation-duration: 2000ms;

	animation-iteration-count: infinite;

	animation-timing-function: linear;

}