<?xml version="1.0" encoding="UTF-8"?>



<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee

							 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"

         version="3.1">



	<servlet>

		<servlet-name>Board</servlet-name>

		<servlet-class>board.BoardServlet</servlet-class>

	</servlet>

	<servlet>

		<servlet-name>Logout</servlet-name>

		<servlet-class>user.LogoutServlet</servlet-class>

	</servlet>

	<servlet>

		<servlet-name>Users</servlet-name>

		<servlet-class>user.UserServlet</servlet-class>

	</servlet>



	<servlet-mapping>

		<servlet-name>Board</servlet-name>

		<url-pattern>/board</url-pattern>

	</servlet-mapping>

	<servlet-mapping>

		<servlet-name>Logout</servlet-name>

		<url-pattern>/logout</url-pattern>

	</servlet-mapping>

	<servlet-mapping>

		<servlet-name>Users</servlet-name>

		<url-pattern>/users</url-pattern>

	</servlet-mapping>



</web-app>